@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7575BB;
    font-family: 'Poppins';
    color: #ffffff;
    width: 92%;
}


h1, h2{
    text-align: center;
}

h1{
    font-size: 20px;
    margin-top: -10px; 
    margin-bottom: 5px;
}

h2{
    font-size: 13px;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 12px;
    margin-top: -5px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.form__contact{
    display: flex;
    flex-direction: column;
    background-color: #232445;
    opacity: 0.9;
    border: none;
    float: left;
    border-radius: 3px;
    padding: 25px;
    font-size: 12px;
}

label{
    margin-bottom: 5px;
}

input{
    margin-bottom: 15px;
}

.input{
    border-radius: 5px;
    border: none;
    height: 20px;
}

.form__contact__name__input, .form__contact__email__input, .form__contact__age__input{
    height: 20px;
}

select{
    margin-bottom: 15px;
}

.form__contact__current_role__select{
    height: 30px;
    margin-top: 5px;
}

.form__contact__current_role{
    margin-bottom: 2px;
}

.form__contact__features__select{
    height: 20px;
    margin-top: 1px;
}

.form__contact__recommend{
    margin-bottom: 5px;
}

.form__contact__features, .form__contact__comments{
    margin-top: 20px;
}

.checkbox{
    height: 20px;
}


.form__contact__checkbox{
    margin-bottom: 2px;
}

.form__contact__submit{
    margin-top: 15px;
    height: 30px;
    background-color: #37AF65;
    border: none;
    color: #ffffff;
    font-weight: 200;
    border-radius: 2px;
}

.form__contact__submit:hover{
    cursor: pointer;
}


/**** Font Span ****/

.font__span__age, .font__span__checkbox{
    font-size: 10px ;
}

/**** CSS Placeholder ****/

::placeholder{
    padding: 10px;
}


