@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7575BB;
    font-family: 'Poppins';
    color: #ffffff;
    width: 100%;
    height: 100%;
}


/**** HEADER ****/

.header{
    width: 40%;
    margin: auto;
}

h1, h2{
    text-align: center;
}

h1{
    font-size: 20px;
    margin-top: -10px; 
    margin-bottom: 5px;
}

h2{
    font-size: 13px;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 12px;
    margin-top: -5px;
}


/**** FORM CONTACT ****/

.form{
    width: 40%;
    margin: auto;
}

.form__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #232445;
    opacity: 0.9;
    border: none;
    border-radius: 3px;
    padding: 25px;
    font-size: 12px;
}

/**** NAME - EMAIL - AGE ****/

.form__contact__name, .form__contact__email, .form__contact__age {
    margin-bottom: 5px;
}

.form__contact__input__name, .form__contact__input__email, .form__contact__input__age{
    height: 20px;
    font-family: 'poppins';
    margin-bottom: 15px;
}



/**** SELECT -- CURRENT ROLE ****/


select{
    margin-bottom: 15px;
}

.form__contact__select__current__role{
    height: 28px;
    margin-top: 5px;
    font-family: 'poppins';
    font-weight: 300;
    padding-left: 8px;
}

.form__contact__current_role{
    margin-bottom: 2px;
}



/**** RADIO -- RECOMMEND ****/


.radio{
    height: 20px;
    display: flex;
    align-items: center;

}

.form__contact__recommend{
    margin-bottom: 5px;
}




/**** SELECT -- FEATURES****/



.form__contact__features{
    margin-top: 20px;
}

.form__contact__select__features{
    height: 28px;
    margin-top: 5px;
    font-family: 'poppins';
    font-weight: 300;
    padding-left: 8px;
}



/**** CHECKBOX -- IMPROVED ****/



.checkbox{
    height: 20px;
    display: flex;
    align-items: center;
}


.form__contact__checkbox{
    margin-bottom: 2px;
}




/**** TEXTAREA -- COMMENTS ****/

.form__contact__comments{
    margin-top: 20px;
}



/**** SUBMIT ****/



.form__contact__submit{
    margin-top: 15px;
    height: 30px;
    background-color: #37AF65;
    border: none;
    color: #ffffff;
    font-weight: 200;
    border-radius: 2px;
}

.form__contact__submit:hover{
    cursor: pointer;
}


/**** Font Span ****/

.font__span__age, .font__span__checkbox{
    font-size: 10px ;
}



/**** CSS Placeholder ****/

::placeholder{
    padding: 10px;
}


